{% extends "//layout.html.twig" %}
{% block title %} Acceuil {% endblock %}
{% block head %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
  {% block cnx %}

      {% if (user != null ) %}

          <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user-circle"></i>LOGOUT</a>

          <a href="#"><i class="fa fa-envelope"></i>{{ user.Email }}</a>
      {% endif %}
      {% if (user == null)%}
          <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle"></i>Sign In</a>
      {% endif %}
  {% endblock %}
{% block body %}
    {% block bg %}
        <section class="inner-banner">
            <div class="container">
                <ul class="thm-breadcrumb">
                    <li><a href="index-2.html">TaxiCo</a></li>
                    <li><span class="sep">.</span></li>
                    <li><span class="page-title">Maintenance</span></li>
                </ul><!-- /.thm-breadcrumb -->
                <h2>Reserver un rendez vous</h2>
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
    {% endblock %}
    {% block contents %}
        {{ form_start(form) }}
        <style type="text/css">


            .form-book, .form-cart {
                display: inline-block;
            }

            fieldset {
                width: 40%;
                margin-top: 20px;
                padding: 15px;
                margin-left: 5%;
                border-radius: 10px;
            }

            input[type='submit'] {
                padding: 10px;
                font-size: 15px;
                font-weight: bold;
                border: none;
                background-color: yellow;
            }

            input[type='submit']:hover {
                color: white;
            }

            .maintenance {
                background-image: url('{{ asset('TaxiCo/images/background/maintenance6.png') }}');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            .walid {
                background-color: #0e90d2;
            }
        </style>
        <section class="book-ride-one">

            <div class="maintenance">
                <section class="contact-form-style-one">
                    <fieldset class="form-book">
                        <div class="input-holder">
                            <label for="garage">Service: </label>
                            {{ form_widget(form.service,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="input-holder">
                            <label for="garage">Garage: </label>
                            {{ form_widget(form.garage,{ 'attr': {'class': 'form-control garage2'} }) }}
                        </div>
                        <div class="input-holder">
                            <label for="date" class="form-label">Date: </label>
                            <div class="col-10">
                                {{ form_widget(form.rdv,{ 'attr': {'class': 'form-control rdv2 '} }) }}
                            </div>
                        </div>

                        {{ form_widget(form._token) }}
                        <div class="input-holder text-center">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden"
                                   value="">
                            <button class="theme-btn btn-style-two" type="submit"
                                    data-loading-text="Please wait..."><span>Reserver</span>
                            </button>
                        </div><!-- /.input-holder -->
                    </fieldset>
                </section>
            </div>
        </section>



        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="{{ asset('js/app3.js') }}"></script>
        <script>

            $(document).on('change', '#taxicobundle_rdv_service, #taxicobundle_rdv_garage', function () {
                let $field = $(this)
                let $serviceField = $('#taxicobundle_rdv_service')
                let $garageField = $('#taxicobundle_rdv_garage')
                let $form = $field.closest('form')
                let data = {}
                data[$serviceField.attr('name')] = $serviceField.val()
                data[$garageField.attr('name')] = $garageField.val()
                data[$field.attr('name')] = $field.val()
                $.post($form.attr('action'), data).then(function (data) {
                    let $input = $(data).find('#taxicobundle_rdv_garage')
                    $('#taxicobundle_rdv_garage').replaceWith($input)
                })
            })

        </script>
        <script src="{{ asset('js/app.js') }}"></script>


        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">

        </script>
        <script>
            $(document).on('change', '.garage2, .rdv2', function () {
                let $field = $(this)
                let $garageField = $('.garage2')
                // let $rdvField =$('.rdv2')
                let $form = $field.closest('form')
                let data = {}
                data[$garageField.attr('name')] = $garageField.val()
                // data[$rdvField.attr('name')] = $rdvField.val()
                data[$field.attr('name')] = $field.val()
                $.post($form.attr('action'), data).then(function (data) {
                    let $input = $(data).find('.rdv2')
                    $('.rdv2').replaceWith($input)
                })
            })
        </script>


        {#<style type="text/css">#}

        {#    form {#}
        {#        width:70%;#}
        {#    }#}
        {#    .form-book,.form-cart {#}
        {#        display: inline-block;#}
        {#    }#}
        {#    fieldset {#}
        {#        width: 40%;#}
        {#        margin-top: 20px;#}
        {#        padding: 15px;#}
        {#        margin-left: 5%;#}
        {#        border-radius: 10px;#}
        {#    }#}
        {#    input[type='submit']#}
        {#    {#}
        {#        padding:10px;#}
        {#        font-size: 15px;#}
        {#        font-weight: bold;#}
        {#        border:none;#}
        {#        background-color: yellow;#}
        {#    }#}
        {#    input[type='submit']:hover#}
        {#    {#}
        {#        color:white;#}
        {#    }#}
        {#    .walid {#}

        {#        margin-top: 10%;#}
        {#    }#}
        {#</style>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <div class="walid">#}
        {#<fieldset  class="form-book">#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}

        {#    <center>#}
        {#        <form action="#" method="#">#}

        {#            <div class="form-group">#}
        {#                <label for="garage">Service: </label>#}
        {#                <select class="form-control" id="garage">#}
        {#                    {{ form_widget(form.service,{ 'attr': {'class': 'form-control'} }) }}#}
        {#                    <option>5</option>#}
        {#                </select>#}
        {#            </div>#}
        {#            <div class="form-group">#}
        {#                <label for="garage">Garage: </label>#}
        {#                <select class="form-control" id="garage">#}
        {#                    {{ form_widget(form.garage,{ 'attr': {'class': 'form-control'} }) }}#}
        {#                </select>#}
        {#            </div>#}
        {#            <div class="form-group">#}
        {#                <label for="garage">Rdv: </label>#}
        {#                <select class="form-control" id="garage">#}
        {#                    {{ form_widget(form.rdv,{ 'attr': {'class': 'form-control'} }) }}#}
        {#                </select>#}
        {#            </div>#}

        {#            <div class="form-group">#}
        {#                <label for="date" class="form-label">Date: </label>#}
        {#                <div class="col-10">#}
        {#                    <input class="form-control" type="date" value="2020-02-12" id="date">#}
        {#                </div>#}
        {#            </div>#}
        {#            <input type="submit" name="reserver" value="Réserver">#}
        {#        </form>#}
        {#    </center>#}
        {#</fieldset>#}
        {#<fieldset  class="form-cart">#}
        {#    <table class="table table-bordered table-dark">#}
        {#        <thead>#}
        {#        <tr>#}
        {#            <th scope="col">#</th>#}
        {#            <th scope="col">Service</th>#}
        {#            <th scope="col">Garage</th>#}
        {#            <th scope="col">Date</th>#}
        {#        </tr>#}
        {#        </thead>#}
        {#        <tbody>#}
        {#        <tr>#}
        {#            <th scope="row">1</th>#}
        {#            <td>Service 1</td>#}
        {#            <td>Garage 1</td>#}
        {#            <td>Date 1</td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th scope="row">2</th>#}
        {#            <td>Service 2</td>#}
        {#            <td>Garage 2</td>#}
        {#            <td>Date 2</td>#}
        {#        </tr>#}

        {#        </tbody>#}
        {#    </table>#}
        {#    <center><input type="submit" name="annuler" value="Annuler"></center>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#    <p></p>#}
        {#</fieldset>#}
        {#    </div>#}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}