
<head>
    <title>Contrat</title>
    <meta charset="UTF-8">
</head>
<h1> Nom: {{nom}}</h1>
<h1> Prenom: {{prenom}}</h1>
<h1> Type de Contrat : {{typecontrat}}                  </h1>
<h1> Durée du contrat : {{duree}} (mois)</h1>
<img class="pull-right" height="200" width="200" src="{{ asset('/uploads/images/mail.jpg') }}" alt="">

<p style="color:red;">Tout droit résérvé avec TAXICO.</p>