{% extends 'base.html.twig' %}

{% block contents %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">liste des Evennements </strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered " >
                                <thead>

                                <tr>
                                    <th>Nom Event</th>
                                    <th>Date Debut</th>
                                    <th>Date Fin</th>
                                    <th>Duree Event</th>
                                    <th>Capacite</th>
                                    <th>Emplacement</th>
                                    <th>Places Restantes</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ev in event %}
                                    <tr>
                                        <td>{{ ev.nomEvent }}</td>
                                        <td>{{ ev.dateEvent|date('Y-m-d H:i:s')}}</td>
                                        <td>{{ ev.dateEventFin|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ ev.dureeEvent }}</td>
                                        <td>{{ ev.capacite }}</td>
                                        <td>{{ ev.emplacement }}</td>
                                        <td>{{ ev.capacite - ev.place }}</td>
                                       {% if ev.etat ==0 %}
                                        <td>Active</td>
                                        {% else  %}
                                            <td>Archivé</td>
                                            {% endif %}
                                        <td>
                                            <ul>

                                                {% if (ev.etat==0) %}
                                                    <a href="{{ path('archiver', { 'id': ev.idEvent }) }}" class="ti-archive">Archiver</a>
                                                    <a href="{{ path('event_modif', { 'id': ev.idEvent }) }}" class="fa fa-edit">Modifier</a>
                                                    <br>
                                                    <a href="{{ path('event_delete', { 'id': ev.idEvent }) }}" class="fa fa-remove">Supprimer</a>


                                                {% else  %}
                                                    <a href="{{ path('desarchiver', { 'id': ev.idEvent }) }}" class="ti-check">Activer</a>
                                                   {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>


        <div>

            <ul>
                <a href="{{ path('Event_add') }}" class="btn btn-lg btn-info btn-block"><i class="fa fa-hand-o-left"> </i> Ajouter Evennement</a>

            </ul> </div>
    </ul>

    <a title="Print Screen" alt="Print Screen" onclick="window.print();" target="_blank"   class="ti-printer">IMPRIMER  </a>

    <br>


{% endblock %}
                    {% block javascripts %}
                        <script src="{{ asset('m.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/jszip/dist/jszip.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master-admin-dashboard-mastervendors/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/assets/js/init-scripts/data-table/datatables-init.js') }}"></script>
                    {% endblock %}