{% extends'base.html.twig' %}
{% block title %} Forum {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block contents %}
        <link href='{{ asset('fullCalendar/lib/fullcalendar.min.css') }}' rel='stylesheet'/>
        <link href='{{ asset('fullCalendar/lib/fullcalendar.print.css') }}' rel='stylesheet' media='print'/>
        <script src='{{ asset('fullCalendar/lib/jquery.min.js') }}'></script>
        <script src='{{ asset('fullCalendar/lib/moment.min.js') }}'></script>
        <script src='{{ asset('fullCalendar/lib/jquery-ui.custom.min.js') }}'></script>
        <script src='{{ asset('fullCalendar/lib/fullcalendar.min.js') }}'></script>
        <div>
            <script>
                console.log('a');
                $(document).ready(function() {
                    var calendar = $('#calendar').fullCalendar({
                        editable:true,
                        header:{
                            left:'prev,next today',
                            center:'title',
                            right:'month,agendaWeek,agendaDay'
                        },
                        events: 'load',
                        selectable:true,
                        selectHelper:true,
                        select: function(start, end, allDay)
                        {
                            var title = prompt("Enter Event Title");
                            if(title)
                            {
                                var start =moment(start, 'DD.MM.YYYY').format( "YYYY-MM-DD HH:mm:ss");
                                var end = moment(end, 'DD.MM.YYYY').format( "YYYY-MM-DD HH:mm:ss");
                                $.ajax({

                                    url:"add",
                                    type:"POST",
                                    data:{title:title, start:start, end:end},
                                    success:function()
                                    {
                                        calendar.fullCalendar('refetchEvents');
                                        alert("Added Successfully");
                                    }
                                })
                            }
                        },
                        editable:true,
                        eventResize:function(event)
                        {
                            var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                            var title = event.title;
                            var id = event.id;
                            $.ajax({
                                url:"update.php",
                                type:"POST",
                                data:{title:title, start:start, end:end, id:id},
                                success:function(){
                                    calendar.fullCalendar('refetchEvents');
                                    alert('Event Update');
                                }
                            })
                        },

                        eventDrop:function(event)
                        var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                        var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                        var title = event.title;
                        var id = event.id;
                        $.ajax({
                            url: "update.php",
                            type: "POST",
                            data: {title: title, start: start, end: end, id: id},
                            success: function () {
                                calendar.fullCalendar('refetchEvents');
                                alert("Event Updated");
                            }
                        });
                        },

                        eventClick:function(event)
                        {
                            if(confirm("Are you sure you want to remove it?"))
                            {
                                var id = event.id;
                                $.ajax({
                                    url:"delete",
                                    type:"GET",
                                    data:{id:id},
                                    success:function()
                                    {
                                        calendar.fullCalendar('refetchEvents');
                                        alert("Event Removed");
                                    }
                                })
                            }
                        },

                    });
                });
            </script>

        </div>
        <div id="calendar"  style="width: 1000px ; margin-left: 100px" ></div>
{% endblock %}