<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taxico | {% block title %} {% endblock %}</title>

    <!--=== Favicon ===-->
    {% block stylesheets %}
    {% endblock %}


    <!-- favicon
          ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/bootstrap.min.css') }}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/font-awesome.min.css') }}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/owl.transitions.css') }}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/animate.css') }}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/normalize.css') }}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/meanmenu.min.css') }}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/main.css') }}">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/educate-custon-icon.css') }}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/morrisjs/morris.css') }}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet"
          href="{{ asset('kiaalap-master/kiaalap-master/css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/metisMenu/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/metisMenu/metisMenu-vertical.css') }}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/calendar/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/calendar/fullcalendar.print.min.css') }}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/style.css') }}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('kiaalap-master/kiaalap-master/css/responsive.css') }}">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ asset('cardoor/favicon.ico' )}}" type="image/x-icon" />
    <!--=== Bootstrap CSS ===-->
    <link href="{{asset('cardoor/assets/css/bootstrap.min.css')  }}" rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/vegas.min.css')  }}" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/slicknav.min.css')  }}" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/magnific-popup.css')  }}" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/owl.carousel.min.css')  }}" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/gijgo.css')  }}" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="{{asset('cardoor/assets/css/plugins/font-awesome.css')  }}" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="{{asset('cardoor/assets/css/reset.css')  }}" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="{{asset('cardoor/style.css')  }}" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="{{asset('cardoor/assets/css/responsive.css')  }}" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="{{ asset('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') }}"></script>
    <script src="{{ asset('//oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="loader-active">

<!--== Preloader Area Start ==-->
<div class="preloader">
    <div class="preloader-spinner">
        <div class="loader-content">
            <img src="{{ asset('cardoor/assets/img/preloader.gif') }}" alt="JSOFT">
        </div>
    </div>
</div>
<!--== Preloader Area End ==-->

<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top">
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i>Ariana, Tunis
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +216 22 222 222
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Lundi-Vendredi 09.00 - 17.00
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Social Icons Start ==-->
                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a href="index2.html" class="logo">
                        <img src="{{ asset('cardoor/assets/img/logo.png') }}" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                    <li><a href="index3.html">Home 3</a></li>
                                </ul>
                            </li> {% if ((is_granted('ROLE_CLIENT'))) %}
                                <li><a href="{{ path('colis_afficher') }}">Afficher mes colis </a></li>
                             <li><a href="{{ path('colis_new') }}">ajouter un colis </a></li>

                            {% endif %}
                            {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                            <li><a href="{{ path('fos_user_registration_register') }}">register</a>

                            </li>
 {% endif %}
                            <li>
                                {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                                   <li><a href="{{ path('fos_user_security_login') }}">log in</a></li>

                            </a>
                            {% endif %}
                            {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                            <a href="{{ path('fos_user_security_logout') }}" >

                                logout
                            </a>

                                    {% endif %}
                            <li>
                                {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
                                <a href="{{ path('taxi_back') }}" >

                                     dashboard
                                </a>
                                </li>
{% endif %}
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->
{% block contents %}
 {% endblock %}
<section id="footer-area">
    <!-- Footer Widget Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>About Us</h2>
                        <div class="widget-body">
                            <img src="{{ asset('cardoor/assets/img/logo.png')}}">
                            <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>

                            <div class="newsletter-area">
                                <form action="index.html">
                                    <input type="email" placeholder="Subscribe Our Newsletter">
                                    <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Recent Posts</h2>
                        <div class="widget-body">
                            <ul class="recent-post">
                                <li>
                                    <a href="#">
                                        Hello Bangladesh!
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Hello Bangladesh!
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        consectetur adipisicing elit?
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->

                <!-- Single Footer Widget Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h2>get touch</h2>
                        <div class="widget-body">
                            <p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>

                            <ul class="get-touch">
                                <li><i class="fa fa-map-marker"></i> 800/8, Kazipara, Dhaka</li>
                                <li><i class="fa fa-mobile"></i> +880 01 86 25 72 43</li>
                                <li><i class="fa fa-envelope"></i> kazukamdu83@gmail.com</li>
                            </ul>
                            <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->

    <!-- Footer Bottom Start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</section>
<!--== Footer Area End ==-->

<!--== Scroll Top Area Start ==-->
<div class="scroll-top">
    <img src="{{ asset('cardoor/assets/img/scroll-top.png"')}}'>
</div>
<!--== Scroll Top Area End ==-->
{% block javascripts %}
{% endblock %}
<!--=======================Javascript============================-->
<div class="scroll-top" style="display: block;">
    <img src="{{asset('cardoor/assets/img/scroll-top.png')}}" alt="JSOFT">
</div>
<!--=== Jquery Min Js ===-->
<script src="{{ asset('cardoor/assets/js/jquery-3.2.1.min.js') }}"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="{{ asset('cardoor/assets/js/jquery-migrate.min.js') }}"></script>
<!--=== Popper Min Js ===-->
<script src="{{ asset('cardoor/assets/js/popper.min.js') }}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{{ asset('cardoor/assets/js/bootstrap.min.js') }}"></script>
<!--=== Gijgo Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/gijgo.js') }}"></script>
<!--=== Vegas Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/vegas.min.js') }}"></script>
<!--=== Isotope Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/isotope.min.js') }}"></script>
<!--=== Owl Caousel Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/owl.carousel.min.js') }}"></script>
<!--=== Waypoint Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/waypoints.min.js') }}"></script>
<!--=== CounTotop Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/counterup.min.js') }}"></script>
<!--=== YtPlayer Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/mb.YTPlayer.js') }}"></script>
<!--=== Magnific Popup Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/magnific-popup.min.js') }}"></script>
<!--=== Slicknav Min Js ===-->
<script src="{{ asset('cardoor/assets/js/plugins/slicknav.min.js') }}"></script>

<!--=== Mian Js ===-->
<script src="{{  asset('cardoor/assets/js/main.js')}}"></script>


<!-- jquery
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/vendor/jquery-1.12.4.min.js') }}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/bootstrap.min.js') }}"></script>
<!-- wow JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/wow.min.js') }}"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/jquery-price-slider.js') }}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/jquery.meanmenu.js') }}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/owl.carousel.min.js') }}"></script>
<!-- sticky JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/jquery.sticky.js') }}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/jquery.scrollUp.min.js') }}"></script>
<!-- counterup JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/counterup/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/counterup/waypoints.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/counterup/counterup-active.js') }}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/scrollbar/mCustomScrollbar-active.js') }}"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/metisMenu/metisMenu.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/metisMenu/metisMenu-active.js') }}"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/morrisjs/raphael-min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/morrisjs/morris.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/morrisjs/morris-active.js') }}"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/sparkline/jquery.charts-sparkline.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/sparkline/sparkline-active.js') }}"></script>
<!-- calendar JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/calendar/moment.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/calendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('kiaalap-master/kiaalap-master/js/calendar/fullcalendar-active.js') }}"></script>
<!-- plugins JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/plugins.js') }}"></script>
<!-- main JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/main.js') }}"></script>
<!-- tawk chat JS
    ============================================ -->
<script src="{{ asset('kiaalap-master/kiaalap-master/js/tawk-chat.js') }}"></script>


</body>

</html>