<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from ashik.templatepath.net/conexi-preview-files/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 May 2020 23:24:10 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taxico | {% block title %} {% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('TaxiCo/images/favicon/apple-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('TaxiCo/images/favicon/apple-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('TaxiCo/images/favicon/apple-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('TaxiCo/images/favicon/apple-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('TaxiCo/images/favicon/apple-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('TaxiCo/images/favicon/apple-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('TaxiCo/images/favicon/apple-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('TaxiCo/images/favicon/apple-icon-152x152.png') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('TaxiCo/images/favicon/apple-icon-180x180.png') }}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('TaxiCo/images/favicon/android-icon-192x192.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('TaxiCo/images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('TaxiCo/images/favicon/favicon-96x96.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('TaxiCo/images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ asset('TaxiCo/images/favicon/manifest.json') }}"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../ms-icon-144x144.html">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ asset('TaxiCo/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('TaxiCo/css/responsive.css') }}"/>
</head>

<body>
<div class="preloader"></div><!-- /.preloader -->
<div class="page-wrapper">
    <header class="site-header header-one">
        <div class="top-bar">
            <div class="container">
                <div class="left-block">
                    {% block cnx %}

                    {% endblock %}
                </div><!-- /.left-block -->
                <div class="logo-block">
                    <a href={{ path('homepage') }}><img src="{{ asset('uploads/images/logo3.png') }}" style="height: 100px;width: 100px" alt="logo" /></a>
                </div><!-- /.logo-block -->
                <div class="social-block">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div><!-- /.social-block -->
            </div><!-- /.container -->
        </div><!-- /.top-bar -->
        <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
            <div class="container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="logo-box clearfix">
                    <button class="menu-toggler" data-target="#main-nav-bar">
                        <span class="fa fa-bars"></span>
                    </button>
                </div><!-- /.logo-box -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="main-navigation" id="main-nav-bar">
                    <ul class="navigation-box">
                        <li class=" current ">
                            <a href="{{ path('homepage') }}">Acceuil</a>
                        </li>
                        <li><a href="{{ path('ourservices') }}">Nos Services</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="driver.html">Our Drivers</a></li>
                                <li><a href="taxi.html">Our Taxi</a></li>
                                <li><a href="single-taxi.html">Taxi Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="book-ride.html">Book A Ride</a></li>
                        <li>
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">
                    <a href="callto:888-888-0000" class="contact-btn-block">
                            <span class="icon-block">
                                <i class="conexi-icon-phone-call"></i>
                            </span>
                        <span class="text-block">
                                888 888 0000
                                <span class="tag-line">Phone line</span>
                            </span>
                    </a>
                </div><!-- /.right-side-box -->
            </div>
            <!-- /.container -->
        </nav>
    </header><!-- /.site-header header-one -->

    <div class="main-banner-wrapper">

        {% block bg %}

        {% endblock %}
    <div class="carousel-btn-block banner-carousel-btn">
        <span class="carousel-btn left-btn"><i class="conexi-icon-left"></i></span>
        <span class="carousel-btn right-btn"><i class="conexi-icon-right"></i></span>
    </div><!-- /.carousel-btn-block banner-carousel-btn -->
</div><!-- /.main-banner-wrapper -->





    {% block contents %}
    {% endblock %}

    {% block content1 %}
    {% endblock %}

    <section class="cta-style-one text-center">
        <div class="container">
            <p>Disponible 24h/24 7j/7</p>
            <h3>Rejoigner Notre Famille  <br> Et Profiter De Nos Services </h3>
            <a href="{{ path('ourservices') }}" class="cta-btn">Nos Services</a>
        </div><!-- /.container -->
    </section><!-- /.cta-style-one -->
<footer class="site-footer">
    <img src="{{ asset('TaxiCo/images/background/footer-bg-1-1.png') }}" class="footer-bg" alt="Awesome Image" />
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget about-widget">
                        <div class="widget-title">
                            <h3>A propos</h3>
                        </div><!-- /.widget-title -->
                        <p>TaxiCo est une application developpée par le groupe Unplugged afin de faciler la reservation des taxis et covoiturage ainsi que l'envoi des colis.</p>
                        <div class="social-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.social-block -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-lg-3 -->
                <div style="position: relative; left: 100px" class="col-lg-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Contact</h3>
                        </div><!-- /.widget-title -->
                        <p>116 rue ghazela  <br> Ariana, Tunisie</p>
                        <ul class="contact-infos">
                            <li><i class="fa fa-envelope"></i> needhelp@taxico.com</li>
                            <li><i class="fa fa-phone-square"></i> 22 222 222</li>
                        </ul><!-- /.contact-infos -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Newsletter</h3>
                        </div><!-- /.widget-title -->
                        <p>Inscrivez Vous Dans Notre NewsLetter<br> et recevrez les nouveaute de TaxiCo.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" name="email" placeholder="Email">
                            <button type="submit">Go</button>
                        </form>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.upper-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="inner-container">
                <div class="left-block">
                    <a href="index-2.html" class="footer-logo"><img src="{{ asset('uploads/images/logo3.png') }}" style="height: 70px;width: 70px" alt="logo" /></a>
                    <span>&copy; 2020 <a href="#">Unplugged</a></span>
                </div><!-- /.left-block -->
                <div class="right-block">
                    <ul class="link-lists">
                    </ul>
                </div><!-- /.right-block -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer><!-- /.site-footer -->
</div><!-- /.page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- /.scroll-to-top -->
{% block javascripts %}
{% endblock %}

<script src="{{ asset('TaxiCo/js/jquery.js') }}"></script>
<script src="{{ asset('TaxiCo/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/waypoints.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/jquery.bxslider.min.js') }}"></script>
<script src="{{ asset('TaxiCo/js/theme.js') }}"></script>

</body>


<!-- Mirrored from ashik.templatepath.net/conexi-preview-files/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 May 2020 23:25:33 GMT -->
</html>