{% extends "//baseRec.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('comment/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('comment/css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('comment/css/colors/default.css') }}" id="theme" rel="stylesheet"/>

    {#    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">#}
{% endblock %}

{% block contents %}
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2> Contactez nous</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p style="font-size: larger;">Gérez vos réclamation en toute simplicité</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <div class="contact-page-wrao section-padding">
        <div class="container">
            {#            <div class="row">#}
            {#                <div class="col-lg-10 m-auto">#}
            {#                    <div class="contact-form">#}
            {#                        <!--== Page Title Area End ==-->#}
            {#                        {% for entity in tabs %}#}
            {#                            {{ entity.idR }}#}
            {#                            {{ entity.Objet.titre }}#}
            {#                            {{ entity.message }}#}
            {#                            {{ entity.etat}}#}
            {#                            {{ entity.dateRec|date('Y-m-d H:i:s')}}#}
            {#                            {{ entity.reponse}}#}
            {#                            <a href="{{ path('taxi_co_deletetRec', {id: entity.idR}) }}">Supprimer</a>#}
            {#                            <a href="{{ path('taxi_co_updateRec', {id: entity.idR}) }}">Modifier</a>#}
            {#                            <a href="{{ path('taxi_co_listRec', {id: entity.idR}) }}">Afficher</a>#}
            {#                            <br><br>#}
            {#                        {% endfor %}#}
            {#                    </div>#}
            {#                 </div>#}
            {#             </div>#}
            <div class="row">
                <!-- .col -->
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <span class="title-line"><h3 class="box-title"><i class="fa fa-quote-left text-warning"></i>   Vos réclamations récentes</h3></span>
                        <div class="comment-center p-t-10">
                            {% for entity in tabs %}
                                <div class="comment-body">
                                    <div class="user-img"><img
                                                src="{{ asset('comment/plugins/images/users/pawandeep.jpg') }}"
                                                alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h4>Pavan kumar</h4><span
                                                class="time">{{ entity.dateRec|date('Y-m-d H:i:s') }} - <strong
                                                    class="text-danger">{{ entity.etat }}</strong> </span>
                                        <span class="mail-desc"> <strong>Objet : {{ entity.Objet.titre }}.</strong> <br> <p
                                                    class="text-dark">{{ entity.message }}</p></span>
                                        <span class="mail-desc"> <strong class="text-info">       Réponse administrative : </strong><br><p
                                                    class="text-secondary">{{ entity.reponse }}.</p></span>
                                        <a href="{{ path('taxi_co_deletetRec', {id: entity.idR}) }}"
                                           class="btn btn btn-rounded btn-default btn-outline m-r-5">
                                            <i class="ti-check text-success m-r-5"></i>Supprimer</a>
                                        <a href="{{ path('taxi_co_updateRec', {id: entity.idR}) }}"
                                           class="btn-rounded btn btn-default btn-outline">
                                            <i class="ti-close text-danger m-r-5"></i> Modifier</a>
                                        <a href="{{ path('taxi_co__mailRec') }}"
                                           class="btn-rounded btn btn-default btn-outline">
                                            <i class="ti-close text-danger m-r-5"></i> E-mail</a>
                                    </div>
                                </div>
                            {% endfor %}
                            {#                        <div class="comment-body">#}
                            {#                            <div class="user-img"><img src="{{ asset('comment/plugins/images/users/sonu.jpg') }}"#}
                            {#                                                       alt="user" class="img-circle">#}
                            {#                            </div>#}
                            {#                            <div class="mail-contnet">#}
                            {#                                <h5>Sonu Nigam</h5><span class="time">10:20 AM   20  may 2016</span>#}
                            {#                                <br/><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie feugiat</span>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                        <div class="comment-body b-none">#}
                            {#                            <div class="user-img"><img src="{{ asset('comment/plugins/images/users/arijit.jpg') }}"#}
                            {#                                                       alt="user" class="img-circle">#}
                            {#                            </div>#}
                            {#                            <div class="mail-contnet">#}
                            {#                                <h5>Arijit singh</h5><span class="time">10:20 AM   20  may 2016</span>#}
                            {#                                <br/><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie feugiat</span>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}