{% extends "//layout.html.twig" %}
  {% block cnx %}

      {% if (us != null ) %}

          <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user-circle"></i>LOGOUT</a>

          <a href="#"><i class="fa fa-envelope"></i>{{ us.Email }}</a>
      {% endif %}
      {% if (us == null)%}
          <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle"></i>Sign In</a>
      {% endif %}
  {% endblock %}
{% block bg %}
    <section class="inner-banner">
        <div class="container">
            <ul class="thm-breadcrumb">
                <li><a href="index-2.html">TaxiCo</a></li>
                <li><span class="sep">.</span></li>
                <li><span class="page-title">Récalamations</span></li>
            </ul><!-- /.thm-breadcrumb -->
            <h2>Gérer vos réclmations</h2>
            <span class="page-title">Ajouter, supprimer, modifier vos réclamations en toute fluidité 💯✔</span>
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->
{% endblock %}
{% block contents %}
    <section class="single-blog-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="comments-block">
                        <div class="block-title">
                            <h2><i class="fa fa-quote-left text-warning"></i> Vos Réclamations</h2>
                        </div><!-- /.block-title -->
                        {% for entity in tabs %}
                        <div class="single-comment-one">
                            <div class="image-block">
                                <div class="inner-block">
                                    <img src="{{ asset ('TaxiCo/images/blog/comment-1-2.jpg') }}"
                                         alt="Awesome Image"/>
                                </div><!-- /.inner-block -->
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <h3>{{ user.prenom }} {{ user.nom }} <span
                                            class="accrodion-title text-info"> - {{ entity.Objet.titre }}</span>
                                    {% if entity.Objet.titre == 'Voiture/Chauffeur' %}
                                     <h5 style="color: #fe7a15;"><li class="fa fa-user"></li> ‍ {{ entity.chauff }}</h5>
                                    {% endif %}
                                </h3>

                                <h5><i class="fa fa-clock-o"> </i><span class="date-line">{{ entity.dateRec|date('Y-m-d H:i:s') }}</span>
                                    {% if entity.etat == 'Non traitée' %}
                                    <span class="text-danger">    -   <i class="fa fa-times-circle-o"> </i> {{ entity.etat }}</span></h5>
                                <p><strong> <i class="fa fa-envelope-open-o"> </i> Votre message : </strong> {{ entity.message }}</p>

                                <p><strong class="text-primary"> <i class="fa fa-reply"> </i>  Réponse administrative : </strong>{{ entity.reponse }}</p>
                                <a href="{{ path('taxi_co_deletetRec', {id: entity.idR}) }}"
                                   class="reply-btn"><i class="fa fa-trash-o"></i> Supprimer</a>

                                <a href="{{ path('taxi_co_updateRec', {id: entity.idR}) }}" class="reply-btn" disabled><i
                                            class="fa fa-edit"></i> Modifier</a>
                                <a href="{{ path('taxi_co__mailRec', {msg: entity.message}) }}" class="reply-btn"><i
                                            class="fa fa-envelope-o"></i> Email</a>
                            </div><!-- /.text-block -->
                        </div><!-- /.single-comment-one -->
                        {% elseif entity.etat == 'En cours de traitement' %}
                        <span class="text-warning">    -   <i class="fa fa-spinner"></i> {{ entity.etat }}</span></h5>
                        <p><strong> <i class="fa fa-envelope-open-o"> </i> Votre message : </strong> {{ entity.message }}</p>

                        <p><strong class="text-primary"> <i class="fa fa-reply"> </i> Réponse administrative : </strong>{{ entity.reponse }}</p>
                        <a href="{{ path('taxi_co_deletetRec', {id: entity.idR}) }}"
                           class="reply-btn"><i class="fa fa-trash-o"></i> Supprimer</a>

                        <a href="{{ path('taxi_co_updateRec', {id: entity.idR}) }}" class="reply-btn" disabled><i
                                    class="fa fa-edit"></i> Modifier</a>
                        <a href="{{ path('taxi_co__mailRec', {msg: entity.message}) }}" class="reply-btn"><i
                                    class="fa fa-envelope-o"></i> Email</a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-comment-one -->
                {% elseif entity.etat == 'Traitée' %}
                <span class="text-success">    -   <i class="fa fa-check"> </i> {{ entity.etat }}</span></h5>
                <p><strong> <i class="fa fa-envelope-open-o"> </i> Votre message : </strong> {{ entity.message }}</p>

                <p><strong class="text-primary"> <i class="fa fa-reply"> </i> Réponse administrative : </strong>{{ entity.reponse }}</p>
                <a href="{{ path('taxi_co_deletetRec', {id: entity.idR}) }}"
                   class="reply-btn"><i class="fa fa-trash-o"></i> Supprimer</a>

                <a href="javascript:alert('Oops! Votre réclamation a été traitée, vous ne pouvez pas la modifier.');"
                   class="reply-btn"><i
                            class="fa fa-edit"></i> Modifier</a>
                <a href="{{ path('taxi_co__mailRec', {msg: entity.message}) }}" class="reply-btn"><i
                            class="fa fa-envelope-o"></i> Email</a>
            </div><!-- /.text-block -->
        </div><!-- /.single-comment-one -->
        {% endif %}

        {% endfor %}
    </section><!-- /.comments-block -->
    </div>
    </div>
    </div>
{% endblock %}