{% extends 'layout.html.twig' %}

{% block bg %}
    <section class="inner-banner">
        <div class="container">
            <ul class="thm-breadcrumb">
                <li><a href="index-2.html">TaxiCo</a></li>
            </ul><!-- /.thm-breadcrumb -->
            <h2>Vehicules</h2>
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->
{% endblock %}


{% block contents %}
    <section class="single-blog-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="comments-block">
                        <div class="block-title">
                            <h2><i class="fa fa-quote-left text-warning"></i> Vos Taxis</h2>
                        </div><!-- /.block-title -->


                        {% for vehicule in vehicule %}

                        {% if vehicule.type =="Taxi" %}


                        <div class="single-comment-one">
                            <div class="image-block">
                                <div class="inner-content" >
                                    <div class="card-img-top" ><img src="{{ asset('uploads/images/' ~ vehicule.matricule) }}" alt=""class="img-thumbnail"></div>
{#                                    {% if (vehicule.matricule|length() < 10 ) %}#}
{#                                    <h2>{{ vehicule.matricule }}</h2>#}
{#                                    {% endif %}#}
                                </div><!-- /.inner-block -->
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <h3>{{ vehicule.marque }} {{ vehicule.modele }} <span
                                            class="accrodion-title text-info"> - {{ vehicule.type }}</span>
                                </h3>


                                <h5><span class="date-line text-success"><strong> <i class="fa fa-check"> </i> Places:{{vehicule.places}} </strong></span>
                                    <span class="text-green">    -   <i class="fa fa-times-circle-o"> </i> {{ vehicule.couleur }}</span></h5>

                                <a href="{{ path('vehicule_deletetaxi',{'id':vehicule.id}) }}"
                                   class="reply-btn"><i class="fa fa-trash-o"></i> Supprimer</a>

                                <a href="{{ path('vehicule_updatetaxi',{'id':vehicule.id}) }}" class="reply-btn" ><i
                                            class="fa fa-edit"></i> Modifier</a>
{#                                <a href="{{ path('taxi_co__mailRec') }}" class="reply-btn"><i#}
{#                                            class="fa fa-envelope-o"></i> Email</a>#}
                                {% if (vehicule.acceptC=='Oui')  %}

                                    <a href="{{ path('acceptercolis',{'idV':vehicule.id}) }}"
                                       class="reply-btn"><i class="fa fa-check-circle-o"></i> Livraison Colis</a>

                                {% endif %}
                            </div><!-- /.text-block -->
                        </div><!-- /.single-comment-one -->
            </div><!-- /.text-block -->
        </div><!-- /.single-comment-one -->
                {% endif %}
                {% endfor %}

                <button class="btn btn-outline-warning btn-block"
                        id="center" style="color:white">
                    <a href="{{ path('vehicule_ajoutvehicule') }}" >Ajouter</a>
                </button>
            </div>
        </div>
    </section><!-- /.comments-block -->

{% endblock %}
