{% extends 'layout.html.twig' %}
  {% block cnx %}

      {% if (user != null ) %}

          <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user-circle"></i>LOGOUT</a>

          <a href="#"><i class="fa fa-envelope"></i>{{ user.Email }}</a>
      {% endif %}
      {% if (user == null)%}
          <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle"></i>Sign In</a>
      {% endif %}
  {% endblock %}
{% block bg %}
    <section class="inner-banner">
        <div class="container">
            <ul class="thm-breadcrumb">
                <li><a href="index-2.html">TaxiCo</a></li>
            </ul><!-- /.thm-breadcrumb -->
            <h2>Vehicules</h2>
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->
{% endblock %}
{% block contents %}
    {{ form_start(form) }}
    </div><!-- /.main-banner-wrapper -->
    <section class="book-ride-one">
        <img src="{{ asset('TaxiCo/images/background/feature-bg-1-1.png')}}" class="footer-bg" alt="Awesome Image" />
        <div class="container" >
            <div class="row">
                <div class="col-lg-4">
                    <div class="content-form">
                        <div class="block-title mb-1">
                            <div class="dot-line"></div><!-- /.dot-line -->
                            <p class="light">Bienvenue!</p>
                            <h2 class="light">Ajouter votre <br> vehicule</h2>
                        </div><!-- /.block-title -->
                        <p>En ajoutant votre vehicule vous serez <br> de plus en plus productif avec nous </p>
                        <p> </p>
                    </div><!-- /.content-block -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-10">
                    <form action="#" class="booking-form-one">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Matricule </p>
                                    {{ form_widget(form.matricule,{ 'attr': {'class':'form-control'} }) }}
                                </div><!-- /.input-holder -->
                            </div>
                            <div class="col-lg-6">
                                <div class="input-holder">

                                    <p>Carte grise </p>
                                    {{ form_widget(form.cartegrise,{ 'attr': {'class':'form-control'} }) }}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <div class="col-lg-12">
                                        <div class="input-holder" >
                                            <p>Marque </p>
{#                                     {{ form_widget(form.marque,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                            {{ form_widget(form.marque,{ 'attr': {'placeholder': 'marque'} }) }}
                                        </div><!-- /.input-holder -->
                                    </div><!-- /.col-lg-6 -->


{#                                    <i class="conexi-icon-taxi"></i>#}
                                </div><!-- /.input-holder -->
                            </div>
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Modele </p>
{#                                    <input type="text" name="name" placeholder="Modele">#}
{#                                    {{ form_widget(form.modele,{ 'attr': {'placeholder': 'Modele'} }) }}#}
                                    {{ form_widget(form.modele,{ 'attr': {'placeholder': 'modele'} }) }}
{#                                    <i class="conexi-icon-taxi"></i>#}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->
<!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Couleur </p>
{#                                    {{ form_widget(form.couleur,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                    {{ form_widget(form.couleur,{ 'attr': {'placeholder': 'couleur'} }) }}

{#                                    <i class="conexi-icon-honda"></i>#}
                                </div><!-- /.input-holder -->
                            </div>
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Type </p>
{#                                    {{ form_widget(form.type,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                    {{ form_widget(form.type,{ 'attr': {'placeholder': 'Type'} }) }}
{#                                    <i class="conexi-icon-consent"></i>#}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Zone </p>
                                    {{ form_widget(form.zone,{ 'attr': {'placeholder': 'Zone'} }) }}
{#                                    {{ form_widget(form.zone,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Position </p>
{#                                    {{ form_widget(form.position,{ 'attr': {'placeholder': 'Position'} }) }}#}
{#                                    {{ form_widget(form.position,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                   {{  form_widget(form.position,{ 'attr': {'placeholder': 'position'} }) }}

{#                                    <i class="conexi-icon-meter"></i>#}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-holder">
                                    <p>Destination </p>
{#                                    {{ form_widget(form.destination,{ 'attr': {'placeholder': 'Destination'} }) }}#}
                                    {{ form_widget(form.destination,{ 'attr': {'placeholder': 'destination'} }) }}
{#                                    <i class="conexi-icon-meter"></i>#}
                                </div><!-- /.input-holder -->
                            </div>

                            <div class="col-lg-6">
                                <div class="input-holder">
{#                                    <select class="selectpicker">#}
{#                                        <option>Places</option>#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
                                    <p>Places </p>
{#                                    {{ form_widget(form.places,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                    {{ form_widget(form.places,{ 'attr': {'placeholder': 'places'} }) }}
{#                                    <i class="conexi-icon-happy"></i>#}
                                </div><!-- /.input-holder -->
                            </div>
                            <div class="col-lg-6">
                                <div class="input-holder">
{#                                    <select class="selectpicker">#}
{#                                        <option>Transportation Coli</option>#}
{#                                        <option>Oui</option>#}
{#                                        <option>Non</option>#}
{#                                    </select>#}
                                    <p>Importation des Colis </p>
{#                                    {{ form_widget(form.acceptC,{ 'attr': {'class': 'selectpicker'} }) }}#}
                                    {{ form_widget(form.acceptC,{ 'attr': {'placeholder': 'Coli'} }) }}
{#                                    <i class="conexi-icon-happy"></i>#}
                                </div><!-- /.input-holder -->
                            </div><!-- /.col-lg-6 -->

                            <div class="col-lg-5">
                                <div class="input-holder">
                                    {{ form_widget(form.captcha) }}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-holder">
                                    {{ form_widget(form) }}
                                </div><!-- /.input-holder -->
                            </div>
                            <div class="card-body">
                                <div class="input-holder">
                                    {{ form_widget(form._token) }}
                                    <button type="submit">Ajouter Vehicule</button>
{#                                    <input type="submit" class="btn btn-block btn-outline-warning  " value="Ajouter" />#}
                                </div><!-- /.input-holder -->
                            </div>



                            <!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </form><!-- /.booking-form-one -->
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.book-ride-one -->
    {{ form_end(form) }}
{% endblock %}

