{% extends'layout.html.twig' %}
        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Affectation Colis</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}
{% block contents %}

    <section class="taxi-style-one taxi-page">
        <div class="container">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane show active  animated fadeInUp" id="hybrid">
                    <div class="row">

                        {% for i in vehicule %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-taxi-one">
                                    <div class="inner-content">
                                        <img src="images/pricing/pricing-1-1.png" alt="Awesome Image" />
                                        <div class="icon-block">
                                            <i class="conexi-icon-bmw"></i>
                                        </div><!-- /.icon-block -->
                                        <h3>{{ i.marque }} {{ i.modele }} {{ i.couleur }}</h3>
                                        <ul class="feature-list">
                                            <li>
                                                <span class="name-line">Categorie Colis:</span>
                                                <span class="price-line">{{ i.acceptC }}</span>
                                            </li>
                                            <li>
                                                <span class="name-line">Traget:</span>
                                                <span class="price-line">{{i.position}} , {{i.destination}}</span>
                                            </li>
                                            <li>
                                                <span class="name-line">Matricule:</span>
                                                <span class="price-line">{{i.matricule}}</span>
                                            </li>
                                        </ul><!-- /.feature-list -->
                                        <a href="{{ path('choix_voiture', { 'idC': colis.idC,'idv':i.id  }) }}" class="book-taxi-btn">Choisir Voiture</a>
                                        <div class="col-lg-15">
                                            <div class="create-ac" >
                                                <p>Besoin De Plus De Detailles? <a href="{{ path('details', { 'idV': i.id,'idC': colis.idC }) }}">Voir Plus</a></p>
                                            </div>
                                        </div>
                                    </div><!-- /.inner-content -->
                                </div><!-- /.single-taxi-one -->
                            </div><!-- /.col-lg-4 -->
                        {% endfor %}

                    </div><!-- /.row -->
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /.container -->
    </section><!-- /.taxi-style-one -->
{% endblock %}