
{% extends'layout.html.twig' %}
{% block title %} Liste Colis {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
  {% block cnx %}

      {% if (user != null ) %}

          <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user-circle"></i>LOGOUT</a>

          <a href="#"><i class="fa fa-envelope"></i>{{ user.Email }}</a>
      {% endif %}
      {% if (user == null)%}
          <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle"></i>Sign In</a>
      {% endif %}
  {% endblock %}
        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Vos Colis</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}
{% block contents %}

    <section class="taxi-style-one taxi-page">
        <div class="container">
            <ul class="nav nav-tabs tab-title" role="tablist">
                //class="nav-link active"
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('colis_afficher' ) }}" >Tous Les Colis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('parcategorie', { 'cat': 'Categorie Leger' }) }}" >Colis Leger</a>
                </li>
                <li class="nav-item">
                    <a  href="{{ path('parcategorie', { 'cat': 'Categorie Lourd' }) }}" >Colis Lourd</a>
                </li>
                <li class="nav-item">
                    <a  href="{{ path('parcategorie', { 'cat': 'Categorie Liquide' }) }}" >Colis Liquide</a>
                </li>
                <li class="nav-item">
                    <a  href="{{ path('parcategorie', { 'cat': 'Categorie Sensible' }) }}" >Colis Sensible</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane show active  animated fadeInUp" id="hybrid">
                    <div class="row">

                        {% for coli in colis %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-taxi-one">
                                    <div class="inner-content">
                                        <div class="image-block">
                                            <div class="inner-block">
                                                {{ coli.nomcategorie }}
                                                {% if (coli.nomcategorie=="Categorie Lourd") %}
                                                    <a href="{{ path('colis_show', { 'idC': coli.idC }) }}">
                                                        <img src="{{ asset('TaxiCo/images/lourd.png') }}"  style="height: 250px;width: 350px" alt="Awesome Image" />
                                                    </a>
                                                {% endif %}

                                                {% if (coli.nomcategorie=="Categorie Leger") %}
                                                    <a href="{{ path('colis_show', { 'idC': coli.idC }) }}">
                                                        <img src="{{ asset('TaxiCo/images/leger.png') }}"  style="height: 250px;width: 250px" alt="Awesome Image" />
                                                    </a>
                                                {% endif %}

                                                {% if (coli.nomcategorie=="Categorie Fragile") %}
                                                    <a href="{{ path('colis_show', { 'idC': coli.idC }) }}">
                                                        <img src="{{ asset('TaxiCo/images/fragile.png') }}"  style="height: 250px;width: 250px" alt="Awesome Image" />
                                                    </a>
                                                {% endif %}

                                            </div><!-- /.inner-block -->
                                        </div>
                                        <h3>Traget : {{ coli.depart }} , {{ coli.destination }}</h3>
                                        <ul class="feature-list">
                                            <li>
                                                <span class="name-line">Destinataire:</span>
                                                <span class="price-line">{{ coli.nomDestinataire }}</span>
                                            </li>
                                            <li>
                                                <span class="name-line">Poids:</span>
                                                <span class="price-line">{{coli.poids}} Kg</span>
                                            </li>
                                            <li>
                                                <span class="name-line">Etat:</span>
                                                {% if (coli.etat==0) %}
                                                    <span class="price-line">Colis Non Affecté</span>
                                                {% endif %}
                                                {% if (coli.etat==1) %}
                                                    <span class="price-line">En attente de confirmation</span>
                                                {% endif %}
                                                {% if (coli.etat==2) %}
                                                    <span class="price-line">Colis Affecté </span>
                                                {% endif %}
                                                {% if (coli.etat==3) %}
                                                    <span class="price-line">Colis Livré </span>
                                                {% endif %}
                                            </li>
                                        </ul><!-- /.feature-list -->
                                        <a href="{{ path('colis_show', { 'idC': coli.idC }) }}" class="book-taxi-btn"> Plus De Detailles</a>
                                    </div><!-- /.inner-content -->
                                </div><!-- /.single-taxi-one -->
                            </div><!-- /.col-lg-4 -->
                        {% endfor %}

                    </div><!-- /.row -->
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /.container -->
    </section><!-- /.taxi-style-one -->

    <a title="Print Screen" alt="Print Screen" onclick="window.print();" target="_blank" style="cursor:pointer;"  class="btn btn-warning">  &nbsp    IMPRIMER  </a>

    <br>


{% endblock %}
                    {% block javascripts %}
                        <script src="{{ asset('m.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script><script src="{{ asset('sufee-admin-dashboard-master/vendors/jszip/dist/jszip.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master-admin-dashboard-mastervendors/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/vendors/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
                        <script src="{{ asset('sufee-admin-dashboard-master/assets/js/init-scripts/data-table/datatables-init.js') }}"></script>
                    {% endblock %}