{% extends 'default/acceuil.html.twig' %}



{% block contents %}

    <section id="slider-area">

        <!--== slide Item One ==-->
        <div class="single-slide-item overlay">
            <div class="container">

                <div class="row">

                    <div class="col-lg-5">
                        <div class="book-a-car">

                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                {% form_theme Form 'bootstrap_4_layout.html.twig' %}
                                {{ form_start(Form) }}
                                <br>
                                {{ form_row(Form.etat) }}
                                {{ form_row(Form.acceptC) }}
                                {{ form_row(Form.poidsmax) }}
                                {{ form_widget(Form) }}
                                <input type="submit"  class="book-now-btn" value="Valider" />
                                {{ form_end(Form) }}

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row" style="position: relative;left: 700px;top: -490px">

                    <div class="col-lg-5">

                        <div class="book-a-car">

                            <div class="pickup-location book-item">

                                <h2>Liste Des Demandes</h2>
                                <div class="row">
                                    <div class="testimonial-content">
                                        {% for colis in demande %}
                                        <div class="about-feature-item active">
                                            <i class="fa fa-car"></i>
                                            <h3>{{ colis.depart }} ---> {{ colis.destination }}</h3>
                                            <p>Poids : {{ colis.poids }}</p>
                                            <p>Categorie : {{cat}}</p>

                                            <a  href="{{ path('colis_showModal', { 'idC': colis.idC }) }}" >Plus De Detailles</a>
                                        </div>
                                            {% endfor %}

                                    </div >
                                    <button style="position:relative;left:100px">
                                        <a  href="{{ path('AfficheEtat', { 'idV': idV }) }} " class="book-now-btn">Colis Acceptés</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


        </div>
    </section>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}
