
{% extends'layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              xmlns="http://www.w3.org/1999/html">
    {% endblock %}
        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Detailles Vehicule</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}
{% block contents %}
    <br>

    <section class="single-taxi-details-one">
        <div class="container">
         <div class="single-taxi-one">
          <div class="inner-content">
            <div class="row">
                <div class="col-lg-6" >
                    <div class="sidebar">
                        <div class="single-sidebar author-widget" style="position: absolute">
                            <div class="image-block">
                                <img src="{{ asset('TaxiCo/images/homme.png')}}" style="height: 150px;width: 150px" alt="Expediteur"  />
                            </div><!-- /.image-block -->
                            <h3>Informations Sur Le Chauffeur</h3>
                            <p>Nom :{{ user.nom }}</p>
                            <p>Prenom :{{ user.prenom }}</p>
                            <p>Numero De Telephone :{{ user.tel }}</p>
                            <p>Adresse Mail :{{ user.email }}</p>
                        </div><!-- /.single-sidebar author-widget -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="content-block">
                        <div class="block-title" style="position: relative;right: 90px">
                            <div class="dot-line"></div><!-- /.dot-line -->
                            <p>Detailles Du Colis</p>
                            <h2>Traget : {{ vehicule.position }},{{ vehicule.destination }}</h2>
                        </div><!-- /.block-title -->
                        Type De Vehicule :
                        {{ vehicule.type }}
                        <hr class="style-one" />
                        <div class="row">
                            <div class="col-lg-8">
                                <ul class="features-list">
                                    <li>
                                        <span class="name-line">Marque:</span>
                                        <span class="price-line">{{vehicule.marque}}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Modele:</span>
                                        <span class="price-line">{{vehicule.modele}}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Couleur:</span>
                                        <span class="price-line">{{vehicule.couleur}}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Matricule:</span>
                                        <span class="price-line">{{vehicule.matricule}}</span>
                                    </li>
                                </ul><!-- /.feature-list -->

                                <hr class="style-one" />
                                <li>
                                    <span class="name-line">Categorie Colis Acceptée:</span>
                                    <span class="price-line">{{vehicule.acceptC}}</span>
                                </li>
                                <li style="position: relative;right: 70px">
                                    <span class="name-line">Poids Maximale:</span>
                                    <span class="price-line">{{vehicule.poidsmax}}Kg</span>
                                </li>
                            </div><!-- /.col-lg-7 -->
                         </div><!-- /.row -->
                        <br>
                        <span style="position: relative;right: 280px">
                                 {% if ((colis.etat==0) ) %}
                                         <a href="{{ path('choix_voiture', { 'idC': colis.idC,'idv':vehicule.id  }) }}" class="book-taxi-btn">Choisir Voiture</a>
                                 {% endif %}
                        </span>

                    </div><!-- /.content-block -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
             </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.single-taxi-details-one -->
    <section class="single-taxi-faq-one thm-gray-bg">
        <div class="container">
            <div class="block-title text-center">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Q&R</p>
                <h2>Questions & Reponses</h2>
            </div><!-- /.block-title -->
            <div class="accrodion-grp" data-grp-name="faq-accrodion">
                <div class="accrodion active">
                    <div class="accrodion-title">
                        <h4>Quand est ce que je peux finaliser ma commande?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>Vous Pouvez Finaliser Votre Commande Une Fois Le Chauffeur Acceptera La Livraison De Votre Colis.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion ">
                    <div class="accrodion-title">
                        <h4>Est Ce Que Je Peux Annuler L'envoi De Mon Colis ?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>L'annulation N'est Possible Sur Le Site Que Lorsque Votre Colis N'est Pas Encore Affecté. Si Ce N'est Pas Le Cas Vous Pouvez Nous Appelez Sue le 22.222.222 On Serait Ravis De Vous Aider.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Est Ce Que C'est Possible D'envoyer De Colis De Plus De 50 Kg?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>En Remplissant Le Formulaire De L'envoi Choisissez La Categorie Colis Lourd, Lors De L'affectation Vous Aurez Des Vehicules Adequate.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Combien Ca Coute La livraison Du colis?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>Le Prix Dependra De Plusieurs Facteur (poids,traget,categorie colis..) Avant De Valider Votre Commande Vous Aurez Une Facture Detaillees.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.single-taxi-faq-one -->


{% endblock %}
