{% extends'layout.html.twig' %}
        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Modifier Colis</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}
{% block contents %}
    <!--== slide Item One ==-->
                                <section class="contact-form-style-one">
                                    <div class="container">
                                        <div class="block-title text-center">

                                        </div><!-- /.block-title -->
                                        {{ form_start(edit_form,{'attr': {'class' : 'contact-form-one row'}}) }}
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.depart,{ 'attr': {'placeholder': 'Depart'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.destination,{ 'attr': {'placeholder': 'Destination'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.nomExpediteur,{ 'attr': {'placeholder': 'Nom Expediteur'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.mailExpediteur,{ 'attr': {'placeholder': 'Mail Expediteur'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.poids,{ 'attr': {'placeholder': 'Poids'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.nomDestinataire,{ 'attr': {'placeholder': 'Nom Destinataire'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.telDestinataire,{ 'attr': {'placeholder': 'Numero De Telephone'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.mailDestinataire,{ 'attr': {'placeholder': 'Mail Destinataire'} }) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->

                                        <div class="col-lg-6">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form.captcha) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-6" style="position: relative;top: 30px">
                                            <div class="input-holder">
                                                {{ form_widget(edit_form) }}
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        <div class="col-lg-12" style="position: relative;left: -150px">
                                            <div class="input-holder text-center">
                                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                                <button class="theme-btn btn-style-two" type="submit" data-loading-text="Please wait..."><span>Modifier Colis</span></button>
                                            </div><!-- /.input-holder -->
                                        </div><!-- /.col-lg-6 -->
                                        {{ form_end(edit_form) }}
                                    </div><!-- /.container -->

                                    {{ form_end(edit_form) }}
                                            {{ form_start(delete_form) }}
                                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                            <button style="position: relative;top: -95px;left: 900px" class="theme-btn btn-style-two" type="submit" data-loading-text="Please wait..."><span>Supprimer Colis</span></button>

                                            {{ form_end(delete_form) }}
                                        </div><!-- /.input-holder -->
                                    </div><!-- /.col-lg-6 -->
                                </section><!-- /.contact-form-style-one -->

    <ul>


        <li>
            <a href="{{ path('colis_afficher') }}">Back to the list</a>
        </li>
    </ul>
                            </div>

                    </div>
                </div>


{% endblock %}
