{% extends'layout.html.twig' %}

        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Envoyer Colis</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}

{% block contents %}
    <section class="contact-form-style-one">
        <div class="container">
            <div class="block-title text-center">
                <div class="dot-line"></div><!-- /.dot-line -->
                <h2>Register</h2>
            </div><!-- /.block-title -->
            {{ form_start(form) }}
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.depart,{ 'attr': {'placeholder': 'Depart'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.destination,{ 'attr': {'placeholder': 'Destination'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.nomExpediteur,{ 'attr': {'placeholder': 'Nom Expediteur'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.mailExpediteur,{ 'attr': {'placeholder': 'Mail Expediteur'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.poids,{ 'attr': {'placeholder': 'Poids'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.nomDestinataire,{ 'attr': {'placeholder': 'Nom Destinataire'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.telDestinataire,{ 'attr': {'placeholder': 'Numero De Telephone'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form.mailDestinataire,{ 'attr': {'placeholder': 'Mail Destinataire'} }) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->

            <div class="col-lg-6">
                <div class="input-holder">
                    {{ form_widget(form) }}
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <div class="input-holder text-center">
                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                    <button class="theme-btn btn-style-two" type="submit" data-loading-text="Please wait..."><span>Envoyer Colis</span></button>
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            {{ form_end(form) }}
        </div><!-- /.container -->
    </section><!-- /.contact-form-style-one -->
    <div id="map"></div>
    <script>
        function initMap(){
            // Map options
            var options = {
                zoom:16,
                center:{lat:36.9007,lng:10.1857}
            }

            // New map
            var map = new google.maps.Map(document.getElementById('map'), options);

            // Listen for click on map
            google.maps.event.addListener(map, 'click', function(event){
                // Add marker
                addMarker({coords:event.latLng});
            });

            /*
            // Add marker
            var marker = new google.maps.Marker({
              position:{lat:42.4668,lng:-70.9495},
              map:map,
              icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });

            var infoWindow = new google.maps.InfoWindow({
              content:'<h1>Lynn MA</h1>'
            });

            marker.addListener('click', function(){
              infoWindow.open(map, marker);
            });
            */

            // Array of markers
            var markers = [
                {
                    coords:{lat:36.8985,lng:10.1898},
                    iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                    content:'<h1>Lynn MA</h1>'
                },
                {
                    coords:{lat:42.8584,lng:-70.9300},
                    content:'<h1>Amesbury MA</h1>'
                },
                {
                    coords:{lat:42.7762,lng:-71.0773}
                }
            ];

            // Loop through markers
            for(var i = 0;i < markers.length;i++){
                // Add marker
                addMarker(markers[i]);
            }

            // Add Marker Function
            function addMarker(props){
                var marker = new google.maps.Marker({
                    position:props.coords,
                    map:map,
                    //icon:props.iconImage
                });

                // Check for customicon
                if(props.iconImage){
                    // Set icon image
                    marker.setIcon(props.iconImage);
                }

                // Check content
                if(props.content){
                    var infoWindow = new google.maps.InfoWindow({
                        content:props.content
                    });

                    marker.addListener('click', function(){
                        infoWindow.open(map, marker);
                    });
                }
            }
        }
    </script>
    <script async defer
            src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBiNUO68DkrsFKFz744_LWMqCNI_GqYciQ&callback=initMap')}}">
    </script>

{% endblock %}
