
{% extends'layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              xmlns="http://www.w3.org/1999/html">
    {% endblock %}
  {% block cnx %}

      {% if (user != null ) %}

          <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-user-circle"></i>LOGOUT</a>

          <a href="#"><i class="fa fa-envelope"></i>{{ user.Email }}</a>
      {% endif %}
      {% if (user == null)%}
          <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user-circle"></i>Sign In</a>
      {% endif %}
  {% endblock %}
        {% block bg %}
            <section class="inner-banner">
                <div class="container">
                    <ul class="thm-breadcrumb">
                        <li><a href="index-2.html">TaxiCo</a></li>
                        <li><span class="sep">.</span></li>
                        <li><span class="page-title">Colis</span></li>
                    </ul><!-- /.thm-breadcrumb -->
                    <h2>Detailles Colis</h2>
                </div><!-- /.container -->
            </section><!-- /.inner-banner -->
        {% endblock %}
{% block contents %}
<br>

    <section class="single-taxi-details-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-block">
                        <img src="{{ asset('TaxiCo/images/colis.png') }}" alt="Awesome Image"/>
                    </div><!-- /.image-block -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="content-block">
                        <div class="block-title">
                            <div class="dot-line"></div><!-- /.dot-line -->
                            <p>Detailles Du Colis</p>
                            <h2>Traget : {{ coli.depart }} , {{ coli.destination }}</h2>
                        </div><!-- /.block-title -->
                        <a>
                            Etat Du Colis :
                            {% if (coli.etat==0) %}
                                Non Affecté.
                            {% endif %}
                            {% if (coli.etat==1) %}
                                En attente de confirmation.
                                <a  href="{{ path('details', { 'idV': coli.idKarhba,'idC': coli.idC }) }}" ><i class="fa fa-car"></i> </a>
                            {% endif %}
                            {% if (coli.etat==2) %}
                                Affecté.
                                <a  href="{{ path('details', { 'idV': coli.idKarhba,'idC': coli.idC }) }}" ><i class="fa fa-car"></i> </a>
                            {% endif %}
                            {% if (coli.etat==3) %}
                                Livré.
                            <a  href="{{ path('details', { 'idV': coli.idKarhba,'idC': coli.idC }) }}" ><i class="fa fa-car"></i> </a>
                            {% endif %}
                        </p>
                        <hr class="style-one" />
                        <div class="row">
                            <div class="col-lg-8">
                                <ul class="features-list">
                                    <li>
                                        <span class="name-line">Nom Expediteur :</span>
                                        <span class="price-line">{{ coli.nomExpediteur }}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Mail Expediteur:</span>
                                        <span class="price-line">{{ coli.mailExpediteur }}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Nom Destinataire:</span>
                                        <span class="price-line">{{coli.nomDestinataire}}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Mail Destinataire:</span>
                                        <span class="price-line">{{ coli.mailDestinataire }}</span>
                                    </li>
                                    <li>
                                        <span class="name-line">Poids:</span>
                                        <span class="price-line">{{ coli.poids }} Kg</span>
                                    </li>
                                </ul><!-- /.feature-list -->
                            </div><!-- /.col-lg-7 -->
                        </div><!-- /.row -->
                        <span>
                                 {% if (coli.etat==0) %}
                                     <a href="{{ path('colis_edit', { 'idC': coli.idC }) }}" class="btn-outline-dark"> <i class="fa fa-edit">Modifier</i></a>
                                     <a href="{{ path('colis_affecter', { 'idC': coli.idC }) }}" class="btn-outline-info"><i class="fa fa-automobile">Affecter</i></a>
                                 {% endif %}
                            </span>
                        <span>
                                 {% if (coli.etat==1) %}
                                     <a href="{{ path('colis_edit', { 'idC': coli.idC }) }}" class="btn-outline-dark"> <i class="fa fa-edit">Modifier</i></a>
                                 {% endif %}
                            </span>
                        <span>
                                 {% if ((coli.etat==0) or (coli.etat==1)) %}
                                 {{ form_start(delete_form) }}
                                     <button type="submit"  name="Supprimer" title="Supprimer" class="btn-outline-danger"><i class="fa fa-remove">Supprimer</i></button>
                                 {{ form_end(delete_form) }}
                                 {% endif %}
                            </span>

                    </div><!-- /.content-block -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.single-taxi-details-one -->
    <section class="single-taxi-faq-one thm-gray-bg">
        <div class="container">
            <div class="block-title text-center">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Q&R</p>
                <h2>Questions & Reponses</h2>
            </div><!-- /.block-title -->
            <div class="accrodion-grp" data-grp-name="faq-accrodion">
                <div class="accrodion active">
                    <div class="accrodion-title">
                        <h4>Quand est ce que je peux finaliser ma commande?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>Vous Pouvez Finaliser Votre Commande Une Fois Le Chauffeur Acceptera La Livraison De Votre Colis.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion ">
                    <div class="accrodion-title">
                        <h4>Est Ce Que Je Peux Annuler L'envoi De Mon Colis ?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>L'annulation N'est Possible Sur Le Site Que Lorsque Votre Colis N'est Pas Encore Affecté. Si Ce N'est Pas Le Cas Vous Pouvez Nous Appelez Sue le 22.222.222 On Serait Ravis De Vous Aider.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Est Ce Que C'est Possible D'envoyer De Colis De Plus De 50 Kg?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>En Remplissant Le Formulaire De L'envoi Choisissez La Categorie Colis Lourd, Lors De L'affectation Vous Aurez Des Vehicules Adequate.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Combien Ca Coute La livraison Du colis?</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>Le Prix Dependra De Plusieurs Facteur (poids,traget,categorie colis..) Avant De Valider Votre Commande Vous Aurez Une Facture Detaillees.</p>
                        </div><!-- /.inner -->
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.single-taxi-faq-one -->


{% endblock %}
