{% extends'layout.html.twig' %}
{% block title %} Forum {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
{% block contents %}
    <section id="slider-area">
        {{ form_start(form) }}
        <!--== slide Item One ==-->
        <div class="single-slide-item overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="book-a-car" style="width: 1076px;">
                            <div>
                                <!--== Pick Up Location ==-->

                                <!--== Pick Up Location ==-->

                                <!--== Pick Up Date ==-->
                                <div class="pick-up-date book-item">
                                    <div class="return-car" style="width: 500px;">
                                        <h4>Title </h4>
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

                                    </div>

                                    <div class="return-car">
                                        <h4>Content </h4>
                                        <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group" style="width: 900px;">
                                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="return-car" style="width: 500px;">
                                        <h4>Image </h4>
                                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}

                                    </div>

                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Car Choose ==-->

                                <!--== Car Choose ==-->

                                <div class="book-button text-center">
                                    {{ form_widget(form.Add,{'attr': {'class': 'book-now-btn'}})}}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!--== slide Item One ==-->
    </section>


{% endblock %}
{% endblock %}