{#<html>#}
{#<head>#}
{#    <title>#}
{#        Ajout des Garages#}
{#    </title>#}
{#</head>#}
{#<body>#}
{#<center>#}
{#    <h1>Ajouter un Garage</h1>#}
{#    <fieldset style="width: 50%">#}
{#        {{ form_start(form) }}#}
{#        Nom:* {{ form_widget(form.name) }}</br>#}

{#                {{ form_widget(form.ajouter) }}</br>#}
{#        {{ form_end(form) }}#}
{#    </fieldset>#}
{#</center>#}
{#</body>#}
{#</html>#}
{% extends "//DashboardRec.html.twig" %}
{% block title %} Acceuil {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block contents %}
        {{ form_start(form) }}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Maintenance</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Maintenance</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Service <small></small></h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" id="quickForm">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Captcha</label>
                                            {{ form_widget(form.captcha,{ 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        {{ form_widget(form._token) }}
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">

                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <!-- /.content -->
        {{ form_end(form) }}

    {% endblock %}
{% endblock %}

